<!-- the Navigation Bar -->

<div class="navBar">
    <div class="navBar_links_left">
        <div class="navBar_links_logo">
            <a href="http://Ardefact.com">
                <img src="{{{webRoot}}}images/logo/ardefact_logo_32px.png">
            </a>
        </div>
        <div class="navBar_links_left_textArea">
            <div class="navBar_links_text">
                <a href="http://Ardefact.com">
                    World Map
                </a>
            </div>
        </div>
        <div class="navBar_links_left_textArea">
            <div class="navBar_links_text">
                <a href="http://Ardefact.com">
                    My Map
                </a>
            </div>
        </div>
        <div class="navBar_links_left_textArea">
            <div class="navBar_links_text">
                <a href="<%= newArdefactPageUrl %>">
                    New Ardefact
                </a>
            </div>
        </div>
    </div>
    <div class="navBar_links_right">
        <div class="navBar_links_right_textArea">
            <div class="navBar_links_text">
                <a href="javascript:document.logout();">
                    Log Out
                </a>
            </div>
        </div>
    </div>
</div>