<div class="navBar">
    <div class="navBar_links_left">
        <div class="navBar_links_logo">
            <a href="#">
                <img src="images/logo/ardefact_alpha_logo.png">
            </a>
        </div>
        <div class="navBar_links_left_textArea">
            <div class="navBar_links_text">
                <a href="http://Ardefact.com">
                    ITEMS
                </a>
            </div>
        </div>
        <div class="navBar_links_left_textArea">
            <div class="navBar_links_text">
                <a href="http://Ardefact.com">
                    REQUESTS
                </a>
            </div>
        </div>
    </div>
    <div class="navBar_links_right">
        <div class="navBar_links_right_textArea">
            <div class="navBar_links_text">
                <a href="http://Ardefact.com">
                    SIGN UP
                </a>
            </div>
        </div>
        <div class="navBar_links_right_textArea">
            <div class="navBar_links_text">
                <a href="http://Ardefact.com">
                    LOG IN
                </a>
            </div>
        </div>
    </div>
</div>