<div class="searchBar">
    <div class="searchNarrativeArea">
        <div class="searchNarrativeText">
            I am looking for
        </div>
        <div class="expandingTextField">
					<input type="text" id="keywordsInput" contenteditable="true" class="keywordsInput">
        </div>
        <div class="searchNarrativeText">
            in
        </div>
        <div class="expandingTextField">
					<span contenteditable="true" style="background-image:url('images/icons/world_icon.png'); background-repeat: no-repeat; background-position: 8px 4px;">
						the world
					</span>
        </div>
        <div class="searchNarrativeText">
            .
        </div>
    </div>
    <div class="horizontalBorder"></div>
</div>