
body {
	width: 100% ;	
	height: 100% ;
	background-color: #252525 ;
	position: relative ;
    z-index: -6 ;
}

a {
	outline: none ;
	text-decoration: none ;
}

a:link { 
	color: #ccc ;
}

a:visited {
	color: #ccc ;	
}

a:hover {
	color: #ccc ;
}

a:active { 
	color: #ccc ;
}

/******** Index Container ********/	
	
.indexContainer {
	width: 80%;
	padding-left: 10% ;
	padding-right: 10% ;
}
	
/******** Navigation Bar ********/
	
.navBar {
	height: 64px ;
	width: 100% ;
	background-color: #252525 ;
	position: relative ;
    z-index: 1 ;
}

.navBar_links_left {
	float: left;
}

.navBar_links_right {
	float: right;
}

.navBar_links_left_textArea {
	width: 108px ;
	float: left ;
}

.navBar_links_right_textArea {
	padding-left: 16px ;
	float: right ;
}

.navBar_links_logo {
	width: 171px ;
	height: 20px ;
	float: left ;
	margin-top: 22px ;
	margin-right: 16px ;
	outline: 0 ;
}

.navBar_links_text {
	font-family: 'Lato', sans-serif ;
	font-size: 18px ;
	font-weight: 300 ;
	text-align: center ;
	color: #333 ;
	padding-top: 24px ;
}
  

/******** Map ********/

/*
.indexMapSpace {
	height: 450px ;
}	
*/

.map {
	position: relative ;
    z-index: 10 ;
}

#map {
	height:450px ;
	position: relative ;
    z-index: -3 ;
}

/******** Search Bar ********/

.searchBar {
	height: 64px ;
	max-height: 64px ;
	background-color: #252525 ;
	position: relative ;
//	z-index: -1 ;
}

.horizontalBorder {
	position: relative ;
	top: 0 ;
	border-bottom: solid 2px #666 ;
}

span {
	border-bottom: dotted 2px #9A632D ;
	padding-bottom: 4px;
	padding-left: 34px ;
	padding-right: 8px ;
    max-width: 200px;
	height: 1em ;
	outline: 0;
}

.keywordsInput {
	background-image:url('images/icons/box_icon.png');
	background-repeat: no-repeat;
	min-width: 200px;
	background-position: 8px 4px;
}

.searchNarrativeArea {
	height: 100% ;
}

.searchNarrativeText {
	font-family: 'Lato', sans-serif ;
	color: #ccc ;
	font-size: 20px ;
	font-weight: 300 ;
	margin-top: 20px ;
	margin-left: 8px ;	
	margin-right: 8px ;
	float: left ;
}

.expandingTextField {
	font-family: 'Lato', sans-serif ;
	color: #444 ;	
	font-size: 20px ;
	font-weight: 300 ;   
	float: left ;
	margin-top: 20px ;
}


/******** Search Results ********/ 

.searchResultsArea {
	background-color: #252525 ;
	position: relative ;
//	z-index: -2 ;
	margin-top: 16px ;
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;	
}

.searchResult {
    display: inline-block ;
	background-color: #eee ;
    margin: 0 0 0.7em 0 ;
    width: 100% ;
}

img {
	max-width: 100% ;
	height: auto ;
	display: block ;
}

/******** Item Page ********/

.itemPageTemplateContainer {
	width: 100% ;
	padding-top: 16px ;
}

.itemPageTemplateContainer_left {
	max-width: 100% ;
	float: left ;
}

.itemPageTemplateContainer_right {
	max-width: 100% ;
	padding-left: 16px ;
}

.itemPhotoArea {
	max-width: 100% ;
}

.itemInfoArea {
	overflow: hidden ;
	padding-left: 16px ;
}

.itemInfoArea_title {

	padding-top: 16px ;
	font-family: 'Lato', sans-serif ;
	color: #ccc ;
	font-size: 36px ;
	font-weight: 400 ;
}

.itemInfoArea_location {

	padding-top: 16px ;
	font-family: 'Lato', sans-serif ;
	color: #ccc ;
	font-size: 24px ;
	font-weight: 400 ;
}

.itemInfoArea_description {
	padding-top: 16px ;
	font-family: 'Lato', sans-serif ;
	color: #ccc ;
	font-size: 20px ;
	font-weight: 300 ;
	float: left ;
}

.itemMapArea {
	color: #ffffff ;
	max-width: 100% ;
	height: 250px ;
	overflow: hidden ;
}


