<div class="itemPageTemplateContainer">

	<div class="itemPageTemplateContainer_left">
		<div class="itemPhotoArea">
			<img src="<%= imageUrl %>">
		</div>
	</div>
	
	<div class="itemPageTemplateContainer_right">
		<div class="itemInfoArea">
			<div class="itemMapArea" id="ardefactPageMapLocation">
			</div>
			<div class="itemInfoArea_title">
				<%= title %>
			</div>
            <div class="itemInfoArea_location">
                from
                <a href="https://ardefact.com">
                    <%= location %>
                </a>
            </div>
			<div class="itemInfoArea_description">
				<%= description %>
			</div>
		</div>
	</div>
</div>
